$couleurs: (
    clair: #fff,
    clair-transparent: rgba(255, 255, 255, 0.447),
    texte: #000
);

$hauteurs-header: (
    mobile: 80px,
    tablette: 80px,
    ordinateur: 80px
);

$largeurs-ecran: (
    base: 0px,
    mobile: 360px,
    tablette: 640px,
    ordinateur: 1024px,
    ordinateur-large: 1440px,
    ordinateur-tres-large: 1600px,
    ultra-large: 1920px
);

$tailles-textes: (
    // Titre d'une page / élément de première importance
    h1: (
        0px: (
            taille: 40px
        ),

        360px:(
            taille: 50px
        ),

        640px:(
            taille: 65px
        ),

        1024px:(
            taille: 60px
        ),

        1440px:(
            taille: 65px
        ),

    ),

    // Titre d'un article
    h2: (
        0px:(
            taille: 25px
        ),

        360px:(
            taille: 35px
        ),

        640px:(
            taille: 45px
        ),

        1024px:(
            taille: 35px
        ),

        1440px:(
            taille: 37.5px
        ),
    ),

    // Sous-titre d'un article
    h3: (
        0px:(
            taille: 20px
        ),

        360px:(
            taille: 22.5px
        ),

        640px:(
            taille: 35px
        ),

        1024px:(
            taille: 30px
        ),

        1440px:(
            taille: 32.5px
        ),
    ),

    // Titre d'un sous-article
    h4: (
        0px:(
            taille: 32px
        ),

        360px:(
            taille: 35px
        ),

        640px:(
            taille: 25px
        ),

        1024px:(
            taille: 25px
        ),

        1440px:(
            taille: 27.5px
        ),
    ),

    // Sous-titres d'un sous-article
    h5: (
        0px:(
            taille: 15px
        ),
    
        360px:(
            taille: 16px
        ),
    
        640px:(
            taille: 25px
        ),
    
        1024px:(
            taille: 20px
        ),
    
        1440px:(
            taille: 22.5px
        ),
    ),

    // Éléments de navigation de l'entête
    h6: (
        0px:(
            taille: 23px
        ),

        360px:(
            taille: 25px
        ),

        640px:(
            taille: 17.5px
        ),

        720px: (
            taille: 20px
        ),

        1024px:(
            taille: 21px
        ),

        1440px:(
            taille: 21px
        ),
    ),

    // Texte courant
    p: (
        0px:(
            taille: 13px,
            hauteur-ligne: 12px,
            espace-mots: 2px
        ),

        360px:(
            taille: 14px,
            hauteur-ligne: 16px,
            espace-mots: 3px
        ),

        640px:(
            taille: 16px,
            hauteur-ligne: 20px,
            espace-mots: 2px
        ),

        1024px:(
            taille: 14px,
            hauteur-ligne: 18px,
            espace-mots: 3px
        ),

        1440px:(
            taille: 15px,
            hauteur-ligne: 18px,
            espace-mots: 3.5px
        ),
    ),

    svg: (
        0px: (
            taille: 20px
        ),
        360px: (
            taille: 30px
        ),
        640px: (
            taille: 25px
        ),
        1024px: (
            taille: 27.5px
        ),
        1440px: (
            taille: 30px
        )
    )
);