@import '../sass/mixins.scss';

.Accueil {
    .titre,
    .titre-description {
        text-align: center;
    }

    .liste-projets {
        display: grid;
        grid-template-columns: 1fr;
        gap: 5%;

        @include media(tablette) {
            grid-template-columns: 1fr 1fr;
        }

        @include media(ordinateur) {
            grid-template-columns: 1fr 1fr 1fr;
        }

        .miniature-projet {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            aspect-ratio: 1;
            background-position: center;
            background-size: 200%;
            transition: all .1s ease-in-out;

            &:hover {
                background-size: 225%;
            }
        }
    }
}