@import '../sass/mixins.scss';

.Accueil {
    .titre,
    .titre-description {
        text-align: center;
    }

    .liste-projets {
        display: grid;
        grid-template-columns: 1fr;
        gap: 5%;

        @include media(tablette) {
            grid-template-columns: 1fr 1fr;
        }

        @include media(ordinateur) {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}