@import '../sass/mixins.scss';

.Projet {
    flex: 1 0 100%;

    @include media(tablette) {
        flex: 0 1 50%;
    }

    & {
        width: 100%;
    }

    .contenu {
        display: flex;
        flex-direction: column;
        padding: 5%;
        gap: 1rem;

        .rangee {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;

            .information {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1rem;
            }

            @include media(tablette) {
                flex-direction: row;

                &[direction="inverse"] {
                    flex-direction: row-reverse;
                }
            }
        }
    }

    .Retour {
        position: fixed;
        @include hauteur-header(top);
        left: 1rem;
    }
}