@import '../sass/variables.scss';
@import '../sass/mixins.scss';

.SectionImageTexte {
    width: 100%;
    min-height: 40rem;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    .informations {
        width: 80%;
        @include fond-blanc-flou(20px);
    }
}