@import '../sass/mixins.scss';

.SectionTexte {
    padding: 2rem 0;
    > * {
        flex: 0 0 calc(50% - .5rem);
    }

    img {
        width: 100%;
        max-height: 70vh;
        height: 100%;
        object-fit: contain;

        @include media(tablette) {
            width: 50%;
        }
    }
}