@import '../sass/mixins.scss';

.SectionImage {
    img {
        width: 200vw;
    }

    overflow-x: scroll;

    @include media(ordinateur) {
        padding: 5rem 0;
        img {
            width: 100%;
        }
        overflow: hidden;
    }
}