.App {
    width: 100vw;
    max-width: 100vw;
    overflow-x: hidden;

    > section {
        display: flex;
        flex-direction: column;

        > .contenu {
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 0 5%;
            box-sizing: border-box;
        }
    }
}