@import './sass/variables.scss';
@import './sass/mixins.scss';

html {
    @include texte-dynamique($tailles-textes);
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

ul, ol {
    list-style-type: none;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p, span, input {
    color: map-get($couleurs, texte)
}

h1, h2, h3 {
    font-family: 'Cardinal', serif;
    font-family: 'Cardinal Alternate', serif;
}

p {
    text-align: justify;
}

.une-ligne {
    white-space: nowrap;
    display: inline-block;
    clear: both;
    line-break: strict;
}